@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/** -----------------------HERO SECTION STYLE----------------------- **/
.hero-section{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 13px;
}
.hero-title {
 font-weight: extrabold;
 font-size: 80px;
 color: rgba(28, 28, 28, 1);
}
.hero-description{
  font-size: 16px;
  color: rgba(119, 119, 119, 1);
}
.hero-btn{
  width: 200px;
  height: 64px;
  background-image: linear-gradient(-40deg, #FF0000, #FF8938);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 15px;
}
.star-icon{
  width: 255px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.star-icon i{
  width: 48px;
  height: 45px;
  color: rgb(255, 0, 0);
}
.rating{
  font-weight: 900;
  color: rgba(28, 28, 28, 1);
}
.rating-value{
font-weight: 600;
font-size: 16px;
color: rgba(119, 119, 119, 1);
margin-bottom: 25px;
}

/** ----------------------product-section style------------------------------- **/
.product-title{
  font-family: 700;
  font-size: 45px;
  text-align: center;
  color:rgba(28, 28, 28, 1);
}
.product-description{
  font-size: 16px;
  text-align: center;
  color: rgba(119, 119, 119, 1);
  margin-bottom: 50px;
}
.product-image{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  
}
.product1{
  width: 267px;
  height: 391px;
  box-shadow: #F4F4F4 0px 30px 60px -12px inset, #F4F4F4 0px 18px 36px -18px inset;
  border-radius: 20px;
}
.product-name{
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: rgba(28, 28, 28, 1);
}
.product-quality{
  font-family: 600;
  font-size: 16px;
  text-align: center;
  color: rgba(119, 119, 119, 1);
}

.product1 img{
  width: 135px;
  height: 212px;
  margin: 30px 66px;
}